// ---- ---- ---- ---- VARIABLES ---- ---- ---- ----

// Site Colors

// Greys
$black: #000;
$darkerGrey: lighten($black, 10%);
$darkGrey: lighten($black, 25%);    //#404040
$midGrey: lighten($black, 50%);     //#808080
$lightGrey: lighten($black, 75%);   //#bfbfbf
$lighterGrey: lighten($black, 90%); //#e6e6e6
$white: #fff;

// Breakpoints
$largeMobileBreakpoint: 29.5em; 	// <472px
$smallTabletBreakpoint: 36.5em; 	// <592px
$tabletBreakpoint: 47.5em;			// <768px
$desktopBreakpoint: 63em;			// <1024px
$widescreenBreakpoint: 79.5em;		// <1280px
$superWideBreakpoint: 112.5em;		// <1808px

// Root
$bodyBGColor: #fff;
$bodyFontSize: 100%;
$columnMargin: .5em;
$gutter: 1em;
$warningColor: #f00;

// Typography
$baseFont: 'Open Sans', sans-serif;
$baseFontColor: $midGrey;
$baseFontSize: 1rem;
$baseFontWeight: 300;
$baseLineHeight: 1.35;

// Heading Typography
$headingFont: $baseFont;
$headingFontColor: $baseFontColor;
$headingLineHeight: 1.1;
$headingTextShadow: none;

$h1Color: $headingFontColor;
$h1Size: 1.875em;
$h1FontWeight: 300;

$h2Color: $headingFontColor;
$h2Size: 1.5em;
$h2FontWeight: 300;

$h3Color: $headingFontColor;
$h3Size: 1.375em;
$h3FontWeight: 300;

$h4Color: $headingFontColor;
$h4Size: 1.25em;
$h4FontWeight: 300;

$h5Color: $headingFontColor;
$h5Size: 1.125em;
$h5FontWeight: 300;

$h6Color: $headingFontColor;
$h6Size: 1em;
$h6FontWeight: 300;

$codeFont: monospace;

// Links
$linkColor: #00f;
$linkHover: darken($linkColor,5%);
$linkVisited: darken($linkColor,10%);
$linkActive: darken($linkColor,15%);
$linkWeight: bold;

// Forms
$textboxBackground: #fff;
$textboxBorderColor: $lighterGrey;
$textboxBorderColorActive: #f00;
$textboxBorderWidth: (1rem/16);
$textboxBorderStyle: solid;
$textboxColor: $baseFontColor;
$textboxFontSize: 1rem;
$textboxPadding: (6rem/16) 1.5rem;
$textboxPlaceholderColor: $midGrey;
$textboxPlaceholderSize: 1em;
$textboxPlaceholderStyle: normal; //Change to italic if you want placeholder text to be italic.

$labelFontSize: (18rem/16);
$labelColor: $baseFontColor;
$labelFontWeight: bold;

$buttonBackground: white;
//$buttonBackground2: $siteLightGreen; //Uncomment if you want a gradient background on a button. Also uncomment gradient in
$buttonBorderColor: $baseFontColor;
$buttonBorderWidth: .25rem;
$buttonBorderStyle: solid;
$buttonColor: $baseFontColor;
$buttonOutlineColor: none;
$buttonFont: $baseFont;
$buttonFontSize: (14rem/16);
$buttonFontWeight: 600;
$buttonPadding: .5rem 1.5rem;
$buttonTextTransform: none;

$buttonAltBackground: $baseFontColor;
//$buttonAltBackground2: $siteLightGrey;

// Tables
$tableCellPadding: .25rem;
$tableStripe: $lighterGrey;
$tableFontSize: (14rem/16);

// Blockquotes
$blockquoteMarginBottom: (14rem/16);
$blockquotePaddingLeft: 0;
$blockquoteBorderWidth: 0;
$blockquoteBorderStyle: solid;
$blockquoteBorderColor: $lighterGrey;
$blockquoteColor: $midGrey;
$blockquoteFontFamily: $headingFont;
$blockquoteFontSize: 1.25rem;
$blockquoteFontStyle: italic;
$blockquoteFontWeight: 200;

// Code/Pre blocks
$codeFontFamily: $codeFont;
$codeFontSize: (14rem/16);
$codeColor: $baseFontColor;
