*,
*:before,
*:after {
  box-sizing: border-box;
  word-wrap: break-word; }

html {
  font-family: "Open Sans", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0;
  background: #fff;
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.35; }

@-webkit-viewport {
  width: device-width;
  zoom: 1; }

@-moz-viewport {
  width: device-width;
  zoom: 1; }

@-ms-viewport {
  width: device-width;
  zoom: 1; }

@viewport {
  width: device-width;
  zoom: 1; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  color: #00f; }
  a:hover,
  a:focus {
    outline: 0;
    color: #0000e6; }
  a:visited {
    color: #0000cc; }
  a:active {
    outline: 0;
    color: #0000b3; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  line-height: 1.1;
  text-shadow: none; }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0; }
  h1:last-child,
  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child {
    margin-bottom: 0; }

h1,
.h1 {
  margin: 0.9em 0;
  color: gray;
  font-size: 1.875em;
  font-weight: 300; }

h2,
.h2 {
  margin: 0.9em 0;
  color: gray;
  font-size: 1.5em;
  font-weight: 300; }

h3,
.h3 {
  margin: 0.77143em 0;
  color: gray;
  font-size: 1.375em;
  font-weight: 300; }

h4,
.h4 {
  margin: 0.77143em 0;
  color: gray;
  font-size: 1.25em;
  font-weight: 300; }

h5,
.h5 {
  margin: 0.675em 0;
  color: gray;
  font-size: 1.125em;
  font-weight: 300; }

h6,
.h6 {
  margin: 0.675em 0;
  color: 1em;
  font-size: 1em;
  font-weight: 300; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

em,
i,
dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  color: gray;
  font-family: monospace;
  font-size: 0.875rem; }

blockquote {
  margin-bottom: 0.875rem;
  padding-left: 0;
  border-left: 0 solid #e6e6e6;
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 200; }

p {
  margin: 1rem 0; }
  p:first-child {
    margin-top: 0; }
  p:last-child {
    margin-bottom: 0; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

label {
  color: gray;
  font-size: 1.125rem;
  font-weight: bold; }

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="password"],
select,
.textbox {
  padding: 0.375rem 1.5rem;
  background-color: #fff;
  border: 0.0625rem solid #e6e6e6;
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  text-transform: none; }
  input[type="text"]:active,
  input[type="text"]:focus,
  input[type="date"]:active,
  input[type="date"]:focus,
  input[type="time"]:active,
  input[type="time"]:focus,
  input[type="datetime"]:active,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:active,
  input[type="datetime-local"]:focus,
  input[type="url"]:active,
  input[type="url"]:focus,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="number"]:active,
  input[type="number"]:focus,
  input[type="search"]:active,
  input[type="search"]:focus,
  input[type="file"]:active,
  input[type="file"]:focus,
  input[type="password"]:active,
  input[type="password"]:focus,
  select:active,
  select:focus,
  .textbox:active,
  .textbox:focus {
    outline-color: #f00; }

textarea {
  display: block; }

::-webkit-input-placeholder {
  color: gray;
  font-size: 1em;
  font-style: normal;
  font-family: "Open Sans", sans-serif; }

:-moz-placeholder {
  color: gray;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }

::-moz-placeholder {
  color: gray;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }

:-ms-input-placeholder {
  color: gray;
  font-size: 1em;
  font-style: normal;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif; }

button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0.5rem 1.5rem;
  overflow: visible;
  background-color: #fff;
  border: 0.25rem solid gray;
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: none;
  cursor: pointer; }
  button.alt,
  .button.alt,
  input[type="button"].alt,
  input[type="submit"].alt,
  input[type="reset"].alt {
    background-color: gray; }
  button:active,
  button:focus,
  .button:active,
  .button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus {
    outline-color: none; }
  button:hover,
  button:focus,
  button:visited,
  .button:hover,
  .button:focus,
  .button:visited,
  input[type="button"]:hover,
  input[type="button"]:focus,
  input[type="button"]:visited,
  input[type="submit"]:hover,
  input[type="submit"]:focus,
  input[type="submit"]:visited,
  input[type="reset"]:hover,
  input[type="reset"]:focus,
  input[type="reset"]:visited {
    color: gray;
    text-decoration: none;
    border: 0.25rem solid gray; }

button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
button[readonly],
html input[disabled],
html input[readonly],
textarea[disabled],
textarea[readonly],
select[disabled],
select[readonly] {
  cursor: default;
  opacity: .5; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.875rem; }

tr:nth-child(even) th,
tr:nth-child(even) td {
  background: #e6e6e6; }

td,
th {
  padding: 0.25rem; }

/*
 * STYLES FOR THE OUTDATED BROWSER WARNING
 */
.browserupgrade {
  margin: 0;
  background: #ccc;
  color: #000;
  padding: .5em; }

.youtube {
  position: relative;
  z-index: 1;
  height: 0;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 56.25%; }
  .youtube.standard {
    padding-top: 75%; }
  .youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }

.alignright,
.alignleft,
.aligncenter,
.alignnone {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem 0; }

.wp-caption {
  border: 0.0625rem solid #bfbfbf;
  padding: .25rem;
  text-align: center; }

.wp-caption-text,
.gallery-caption {
  font-size: .75rem;
  font-style: italic; }

.sticky {
  padding: 1rem;
  background: #f2f2f2; }

.alert {
  font-weight: bold;
  color: gray; }

@media only screen and (min-width: 36.5em) {
  .alignright {
    float: right;
    max-width: 50%;
    margin: 0 0 1rem 1rem; }
  .alignleft {
    float: left;
    max-width: 50%;
    margin: 0 1rem 1rem 0; }
  .aligncenter {
    display: block;
    margin: 1rem auto; }
  .alignnone {
    float: none;
    max-width: 100%;
    margin: 0 1rem 1rem 0; } }

/*# sourceMappingURL=styles.css.map */